*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  min-width: 0;
}
:root {
  scroll-behavior: smooth;
}
body {
  -webkit-font-smoothing: antialiased;
}

img,
video {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
}

a {
  text-decoration: inherit;
  color: inherit;
}
